.music-player {
    background-image: url("../assets/background-img.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-container {
    width: 90vw;
    height: 80vh;
    padding: 10px;
    background: rgba(53, 54, 72, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.2) inset,
        0 1px 0 0 rgba(255, 255, 255, 0.6) inset, 0 4px 16px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.player-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 70px;
    height: 100%;
    width: 100%;
}

.card-stack-column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    width: 250px;
    height: 350px;
}

.swiper-slide {
    display: grid;
    grid-template-rows: minmax(0, 4fr) auto;
    border-radius: 12px;
    background: #d3d2d6;
    box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.2) inset,
    0 1px 0 0 rgba(255, 255, 255, 0.6) inset, 0 4px 16px rgba(0, 0, 0, 0.1);
    padding: 15px;
    user-select: none;
    height: 100%;
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: calc(100% - 5px);
    object-fit: cover;
    border-radius: 8px;
}

.song-title {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Permanent Marker", serif;
    font-size: 1.4rem;
    color: #333;
    text-align: center;
    padding: 5px 10px;
    margin: 0;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transform: rotate(-3deg);
}

.controls-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    padding: 0 20px;
    color: white;
    overflow-y: auto;
    height: 100%;
}
.controls-column::-webkit-scrollbar {
    display: none; 
}


.song-row {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    transition: background 0.3s ease;
    border-bottom: 2px solid #6490f6;
    flex-shrink: 0;
}

.song-row.active-song {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.row-thumbnail {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 30px;
}

.song-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.song-title-row {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    color: white;
    margin-bottom: 12px;
}

.singer-name {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.7);
}

.song-meta {
    display: flex;
    align-items: center;
    gap: 75px;
}

.song-duration {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.9);
}

.heart-icon {
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
}

.heart-icon:hover {
    color: #f6f6f6;
}

.heart-icon.fas {
    color: #f6f6f6;
}

.bubble {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    opacity: 0.6;
    filter: blur(15px);
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.blue-bubble {
    top: 2%;
    left: -75px;
    background: rgba(100, 144, 246, 0.7);
    box-shadow: 0 0 40px rgba(100, 144, 246, 0.8);
    animation: moveBubbleRight 13s infinite alternate;
}

.pink-bubble {
    bottom: 2%;
    right: -75px;
    background: rgba(233, 98, 135, 0.7);
    box-shadow: 0 0 40px rgba(233, 98, 135, 0.8);
    animation: moveBubbleLeft 13s infinite alternate;
}

@keyframes moveBubbleRight {
    0% { left: -75px; }
    100% { left: calc(100% - 75px); }
}

@keyframes moveBubbleLeft {
    0% { right: -75px; }
    100% { right: calc(100% - 75px); }
}

@media (max-width: 767px) {
    .player-container {
        width: 85vw;
        height: 90vh;
        padding: 15px;
    }

    .player-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        gap: 30px;
        height: 100%;
    }

    .card-stack-column {
        justify-content: center;
    }

    .swiper {
        width: 180px;
        height: 260px;
        margin: 0 auto;
    }

    .swiper-slide {
        padding: 8px;
    }

    .song-title {
        height: 50px;
        font-size: 1.1rem;
        padding: 5px 8px;
    }

    .controls-column {
        padding: 0px 5px;
    }

    .song-row {
        padding: 15px 10px;
    }

    .row-thumbnail {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    .song-title-row {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .singer-name {
        font-size: 0.9rem;
    }

    .song-duration {
        font-size: 0.9rem;
    }

    .song-meta {
        gap: 15px;
    }

    .heart-icon {
        font-size: 0.8rem;
    }

    .bubble {
        width: 100px;
        height: 100px;
    }

    .blue-bubble {
        left: -50px;
    }

    .pink-bubble {
        right: -50px;
    }

    @keyframes moveBubbleRight {
        0% { left: -50px; }
        100% { left: calc(100% - 50px); }
    }

    @keyframes moveBubbleLeft {
        0% { right: -50px; }
        100% { right: calc(100% - 50px); }
    }
}